{% layout 'test' %}

<section class="mb-sm-50" id="gallery">
    <div class="row no-gutters flex-wrap">
        <div class="col d-flex flex-column" style="width: 33.3%;"><img class="img-fluid" src="assets/img/gallery1.png" style="width: 100%;"><img class="img-fluid" src="assets/img/gallery2.png"></div>
        <div class="col"><img class="img-fluid" src="assets/img/gallery3.png"><img class="img-fluid" src="assets/img/gallery4.png"></div>
        <div class="col"><img class="img-fluid" src="assets/img/gallery5.png"><img class="img-fluid" src="assets/img/gallery6.png"></div>
    </div>
</section>
