.navbar-collapse {
  text-transform: uppercase;
}

body.light .navbar-collapse {
  background-color: #f8f9fa;
  .nav-item .nav-link {
    color: black;
    i {
      color: black;
    }
  }
}

body.dark .navbar-collapse {
  background-color: #343a40;
  .nav-item .nav-link {
    color: white;
    i {
      color: white;
    }
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 100%;
    width: 80%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(0);
    transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
    z-index: 99;
  }

  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
    transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
}

@media all and (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
  }
  .navbar .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
