// Your variable overrides
$font-size-base: 1rem;
$small-font-size: 81.25%; // 13px

$h1-font-size: $font-size-base * 4; // h1
$h2-font-size: $font-size-base * 3.2;
$h3-font-size: $font-size-base * 2.6; // carousels' subtitles
$h4-font-size: $font-size-base * 2.2; // all the sections' titles and products' names
$h5-font-size: $font-size-base * 1.875; // prices
$h6-font-size: $font-size-base * 1.5625; // titles within sections such as featured products
$font-family-sans-serif: 'Lato',
  -applerow carousel-caption h-100 align-items-center justify-content-center-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !default;

$enable-rounded: false;
$enable-responsive-font-sizes: true;

$font-weight-light: 200;
$font-weight-normal: 300;
$headings-font-weight: 300;

$white: #fff;
$black: #000;
$gray1: #f2f2f2;
$gray2: #999;
$gray3: #808080;
$gray4: #666;
$gray5: #4d4d4d;
$black: #000;
$red: #e54a55;

$theme-colors: (
  'black': $black,
  'gray1': $gray1,
  'gray2': $gray2,
  'gray3': $gray3,
  'gray4': $gray4,
  'gray5': $gray5,
  'red': $red,
  'white': $white,
);

$input-btn-line-height-sm: 1;
$input-btn-line-height: 1;
$input-btn-line-height-lg: 1;

$input-btn-font-size: $font-size-base * 0.9;
$input-btn-font-size-lg: $font-size-base * 1.2;

$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.6rem;

$input-btn-padding-y-lg: 1.35rem;
$input-btn-padding-x-lg: 1.8rem;

$spacer: 2px;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
  11: $spacer * 11,
  12: $spacer * 12,
  13: $spacer * 13,
  14: $spacer * 14,
  15: $spacer * 15,
  16: $spacer * 16,
  17: $spacer * 17,
  18: $spacer * 18,
  19: $spacer * 19,
  20: $spacer * 20,
  21: $spacer * 21,
  22: $spacer * 22,
  23: $spacer * 23,
  24: $spacer * 24,
  25: $spacer * 25,
  26: $spacer * 26,
  27: $spacer * 27,
  28: $spacer * 28,
  29: $spacer * 29,
  30: $spacer * 30,
  31: $spacer * 31,
  32: $spacer * 32,
  33: $spacer * 33,
  34: $spacer * 34,
  35: $spacer * 35,
  36: $spacer * 36,
  37: $spacer * 37,
  38: $spacer * 38,
  39: $spacer * 39,
  40: $spacer * 40,
  41: $spacer * 41,
  42: $spacer * 42,
  43: $spacer * 43,
  44: $spacer * 44,
  45: $spacer * 45,
  46: $spacer * 46,
  47: $spacer * 47,
  48: $spacer * 48,
  49: $spacer * 49,
  50: $spacer * 50,
  51: $spacer * 51,
  52: $spacer * 52,
  53: $spacer * 53,
  54: $spacer * 54,
  55: $spacer * 55,
  56: $spacer * 56,
  57: $spacer * 57,
  58: $spacer * 58,
  59: $spacer * 59,
  60: $spacer * 60,
  61: $spacer * 61,
  62: $spacer * 62,
  63: $spacer * 63,
  64: $spacer * 64,
  65: $spacer * 65,
  66: $spacer * 66,
  67: $spacer * 67,
  68: $spacer * 68,
  69: $spacer * 69,
  70: $spacer * 70,
  71: $spacer * 71,
  72: $spacer * 72,
  73: $spacer * 73,
  74: $spacer * 74,
  75: $spacer * 75,
  76: $spacer * 76,
  77: $spacer * 77,
  78: $spacer * 78,
  79: $spacer * 79,
  80: $spacer * 80,
  81: $spacer * 81,
  82: $spacer * 82,
  83: $spacer * 83,
  84: $spacer * 84,
  85: $spacer * 85,
  86: $spacer * 86,
  87: $spacer * 87,
  88: $spacer * 88,
  89: $spacer * 89,
  90: $spacer * 90,
  91: $spacer * 91,
  92: $spacer * 92,
  93: $spacer * 93,
  94: $spacer * 94,
  95: $spacer * 95,
  96: $spacer * 96,
  97: $spacer * 97,
  98: $spacer * 98,
  99: $spacer * 99,
  100: $spacer * 100,
);

$sizes: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
);

// $grid-breakpoints: (
//   xs: 0,
//   sm: 540px,
//   md: 740px,
//   lg: 980px,
//   xl: 1260px,
//   // xll: 1824px,
// );

// $container-max-widths: (
//   sm: 541px,
//   md: 778px,
//   lg: 1025px,
//   xl: 1230px,
//   // xll: 1230px,
// );

.btn {
  letter-spacing: 0.2rem;
}

.btn.btn-lg {
  letter-spacing: 0.2475rem;
}
