@import './custom';
@import './bootstrap/bootstrap.scss';
@import './sections/header.scss';
@import './sections/masonry-gallery';

html {
  scroll-behavior: smooth;
}

// global style
@include media-breakpoint-only(xs) {
  .disable_on_mobile {
    display: none;
  }
}
@include media-breakpoint-only(sm) {
  .disable_on_mobile {
    display: none;
  }
}
@include media-breakpoint-only(md) {
  .disable_on_tablet {
    display: none;
  }
}
@include media-breakpoint-only(lg) {
  .disable_on_desktop {
    display: none;
  }
}
@include media-breakpoint-only(xl) {
  .disable_on_desktop {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: 0.2rem;
}

.dark {
  .index-section.index-section--carousel .carousel-indicators li,
  .index-section.index-section--testimonials #resp-dots .glider-dot {
    background-color: transparent !important;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsSAAALEgHS3X78AAAAvUlEQVQ4ja3VvQ3CMBAF4CezQErkJViBlo4RoLmd7ppQpssKLOCCTdjASFESkfjnbMyTrrB0+nSSTzp479Vi5iszdyW9BkpE5AZgBPAUkU7rz4Iz1s/PUwmaBHfYEhWNggmsCA1ABVPRDViIZdEVrMSSqGnAoujBWtuCLTkCuDjnBnWxa2OI6AHg3ui8AJyJ6D1N2IiuGL5/+Ud0g2G/h5VogAVgBRrFomABmsSSYAbNYlkwgqrYlL+eAO/xAWds0ERZ9GupAAAAAElFTkSuQmCC');
    width: 12px;
    height: 12px;
    margin-left: 8px;
    margin-right: 8px;
    background-size: cover;
  }

  .index-section.index-section--carousel .carousel-indicators li.active,
  .index-section.index-section--testimonials #resp-dots .glider-dot.active {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAACXBIWXMAAAsSAAALEgHS3X78AAAAZUlEQVQ4ja3UQQrAIAxE0eDJepQezZtOF0VBbTWaH8hOHgSTMUmevjzvPNCtt3IUK5A84A60BHehKXgC/YKn0CcYgQYwCjUgAVUwGVn0mPgH4KuBLy1+Tvih4xHUg+FwLL2ObckeyKvY8yvVgt8AAAAASUVORK5CYII=');
  }
}

.light {
  .index-section.index-section--carousel .carousel-indicators li,
  .index-section.index-section--testimonials #resp-dots .glider-dot {
    background-color: transparent !important;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsSAAALEgHS3X78AAAAq0lEQVQ4jaXV4QkCMQwF4HddQDdRyAKO7gAN6AY3gk5QqeCRuzZNah70X/kINEmXUgqsMPMVwEpEL+tucmL3epj5HAIFdgJw8aAqeMB+MdEuqGAutAENzER3oBMbohs4ialoCmBddMk5RzCZJ4Cb2dizSUT0qDKAd7S6OprfCoPohkG+8p/oDsOxDyfRBmvACbSLdUEHqmIqOECHWI25scUUrRbmAgVqfwEAPq8eeB7UHIk4AAAAAElFTkSuQmCC');
    width: 12px;
    height: 12px;
    margin-left: 8px;
    margin-right: 8px;
    background-size: cover;
  }

  .index-section.index-section--carousel .carousel-indicators li.active,
  .index-section.index-section--testimonials #resp-dots .glider-dot.active {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAACXBIWXMAAAsSAAALEgHS3X78AAAAZ0lEQVQ4ja3UWwrAIAxE0cGVdSldmjud0p9i6SPRXEHwQw6EJCPb4ZW0pf4loF3S+eglbICcAWegEJyFfsEV6BNchV7BCvQAq9ANJKALbCIPWibeAHw08KHF1wlfdDyC8HAcwDi2bR3zoLv0BjQX5gAAAABJRU5ErkJggg==');
  }
}

#top-logo img {
  width: 120px;
}

#top-navigation #navigation-icons > li {
  padding: 0;
}

.carousel-caption.d-none.d-md-block {
  padding-bottom: 139px;
}

#gallery .img-fluid {
  width: 100%;
  padding: 2px;
}

footer .fab {
  font-size: 35px;
}

/******** global settings *********/


.section-inner-wrapper{
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn.btn-transparent:hover,
.btn-white:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn.btn-black:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

/******** Image section *********/

/******** Video section *********/

/******** Newsletter Section *********/
.newsletter-block {
  border: 1px solid white;
  padding-top: 30px;
  padding-bottom: 30px;
}

/******** Featured Products *********/

/******** Featured Collections *********/
.index-section--featured-collections {
  .collection-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: 400;
  }
}

/******** Header *********/
body.offcanvas-active {
  overflow: hidden;
}

.dropdown-menu{
  margin-top: 0;
}

.col-megamenu  a, .navbar-dark .navbar-nav .second-level-nav-link,
.navbar-dark .navbar-nav .second-level-nav-link.active
{
  color: #000000; 
}

.navbar-dark .navbar-nav .second-level-nav-link:hover, 
.navbar-dark .navbar-nav .second-level-nav-link:focus{
  color: #000000;
  text-decoration: underline; 
}

.navbar-expand-lg .navbar-nav .header_nav-item-icons .nav-link
{
  padding: 10px;
}

.navbar .nav-link{
  padding-top: 0;
}


.desktop_style_a .navbar-dark-header .header_navbar-nav .nav-item.active ,
.desktop_style_b .navbar-dark-header .header_navbar-nav .nav-item.active 
{
  border-bottom: 2px solid #fff;
}

.desktop_style_a .navbar-light-header .header_navbar-nav .nav-item.active ,
.desktop_style_b .navbar-light-header .header_navbar-nav .nav-item.active 
{
  border-bottom: 2px solid #000;
}


.navbar-dark-header .header_navbar-nav .navbar-collapse.show .nav-item.active,
.navbar-light-header .header_navbar-nav .navbar-collapse.show .nav-item.active{
  border: none;
}

.navbar-collapse.show {
  margin-top: 30px;
  width: 65%;
}

.bg-light-header .navbar-collapse.show {
  background-color: #f2f2f2;
}

.bg-dark-header .navbar-collapse.show {
  background-color: #4d4d4d;

}

.dropdown-menu.megamenu.show{
  margin-left: -15px;
  margin-right: -15px;
}

.navbar-collapse.show .nav-item, .navbar-collapse.show .nav-item.active{
  padding: 15px;
  border-bottom: 1px solid #c4cdd5 !important;
}


.desktop_style_a .header_navbar-nav .nav-item{ 
  padding: 0;
  margin: 0 15px;
}

.desktop_style_b .header_navbar-nav .nav-item{ 
  padding: 0;
  margin: 0 25px;
}

.navbar-collapse.show .nav-item{
  padding: 15px !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 0;
}

/******** Video with Text *********/
svg.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: #212529;
}
