@import './custom';
@import './bootstrap/bootstrap.scss';
@import './sections/header.scss';
@import './sections/masonry-gallery';

html {
  scroll-behavior: smooth;
}

// global style
@include media-breakpoint-only(xs) {
  .disable_on_mobile {
    display: none;
  }
}
@include media-breakpoint-only(sm) {
  .disable_on_mobile {
    display: none;
  }
}
@include media-breakpoint-only(md) {
  .disable_on_tablet {
    display: none;
  }
}
@include media-breakpoint-only(lg) {
  .disable_on_desktop {
    display: none;
  }
}
@include media-breakpoint-only(xl) {
  .disable_on_desktop {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: 0.2rem;
}

.index-section.index-section--carousel .carousel-indicators li {
  background-color: transparent !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsSAAALEgHS3X78AAAAsUlEQVQ4ja3VzQ3CMAwF4Ecm6CYcvAAjMAJMBhuwAgPYh27CBkGqStU28U9In5SDJeuTJVsKcs7uY+YrMw+R3gQnInID8ALwFpHB6zfBGXvM5TmCquAO+8VFq6CChdACdDAX3YBBzEQXsBFT0dSBVdETM/dg64wALu5htyYR0RPA/YjpiOgzTdiJLhjWW/4T3WDY32EjWmAF2IBWsSoYQFVMBQ3UxEywgrrYlEO/gJzxBe3e0l0Of8UeAAAAAElFTkSuQmCC');
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-right: 8px;
  background-size: cover;
}

.index-section.index-section--testimonials #resp-dots .glider-dot {
  background-color: transparent !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsSAAALEgHS3X78AAAAsUlEQVQ4ja3VzQ3CMAwF4Ecm6CYcvAAjMAJMBhuwAgPYh27CBkGqStU28U9In5SDJeuTJVsKcs7uY+YrMw+R3gQnInID8ALwFpHB6zfBGXvM5TmCquAO+8VFq6CChdACdDAX3YBBzEQXsBFT0dSBVdETM/dg64wALu5htyYR0RPA/YjpiOgzTdiJLhjWW/4T3WDY32EjWmAF2IBWsSoYQFVMBQ3UxEywgrrYlEO/gJzxBe3e0l0Of8UeAAAAAElFTkSuQmCC');
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-right: 8px;
  background-size: cover;
}

.index-section.index-section--carousel .carousel-indicators li.active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAACXBIWXMAAAsSAAALEgHS3X78AAAAZ0lEQVQ4ja3UWwrAIAxE0cGVdSldmjud0p9i6SPRXEHwQw6EJCPb4ZW0pf4loF3S+eglbICcAWegEJyFfsEV6BNchV7BCvQAq9ANJKALbCIPWibeAHw08KHF1wlfdDyC8HAcwDi2bR3zoLv0BjQX5gAAAABJRU5ErkJggg==');
}

.index-section.index-section--testimonials #resp-dots .glider-dot.active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAACXBIWXMAAAsSAAALEgHS3X78AAAAZ0lEQVQ4ja3UWwrAIAxE0cGVdSldmjud0p9i6SPRXEHwQw6EJCPb4ZW0pf4loF3S+eglbICcAWegEJyFfsEV6BNchV7BCvQAq9ANJKALbCIPWibeAHw08KHF1wlfdDyC8HAcwDi2bR3zoLv0BjQX5gAAAABJRU5ErkJggg==');
}

#top-logo img {
  width: 120px;
}

#top-navigation #navigation-icons > li {
  padding: 0;
}

.carousel-caption.d-none.d-md-block {
  padding-bottom: 139px;
}

#gallery .img-fluid {
  width: 100%;
  padding: 2px;
}

footer .fab {
  font-size: 35px;
}

/******** global settings *********/

.btn.btn-transparent:hover,
.btn-white:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn.btn-black:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

/******** Image section *********/

/******** Video section *********/

/******** Newsletter Section *********/
.newsletter-block {
  border: 1px solid white;
  padding-top: 30px;
  padding-bottom: 30px;
}

/******** Featured Products *********/

/******** Featured Collections *********/
.index-section--featured-collections {
  .collection-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: 400;
  }
}

h1 {
  color: red;
}
