<div  class="section-inner-wrapper bg-{{ settings.default_style_mode }} py-50">
  <div class="container text-{{ settings.default_style_mode }}-text ">
    <div class="row align-items-md-start">
      <div class="col-12 col-md-2" style="position: sticky; top: 0; z-index: 999;">
        {% render 'collection-navigation' %}
      </div>
      <div class="col-12 col-md-10">
        {% if collection.handle == 'all' %}
          {% render 'collection-tags' %}
          {% render 'menu-collections', image_position: section.settings.image_position %}
        {% else %}
          {% paginate collection.products by 5 %}
            {% render 'single-collection', collection: collection, image_position: section.settings.image_position %}
            {% if paginate.pages > 1 %}
              {% render 'pagination-custom', paginate: paginate %}
            {% endif %}
          {% endpaginate %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="atcFormModal"></div>


<style>

  .product-title{
    font-size: 1rem;
    font-weight: 400;
    -webkit-line-clamp: 1;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .product-desc{
    -webkit-line-clamp: 3;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

  }

  .tags-list img{
    margin-right: 6px;
  }

  .product-img{
    max-height: 180px;
    object-position: center center;
    height: 100%;
    object-fit: cover; 
  }

  .onsale-price .current-variant-compare-at-price{
    text-decoration: line-through;
  }

  .onsale-price .current-variant-price, .onsale-price .fas{
    color: #DA4551;
  }

  .divider{
    color: #e8eff0;
    background-color: #e8eff0;
    border: 1px solid #e8eff0;
    width: 3rem;
    height: 0.05rem;
  }

  @media(min-width: 992px) {

  }

  @media(max-width: 991.98px) {
    #collection-navigation {
      background: black;
    }
    #collection-navigation  .collection-titles {
      overflow-y: scroll; 
      flex-wrap: nowrap;
    }
  }


  #collection-navigation:before {
    content: "";
    color: white;
    position: absolute;
    top: 0;
    width: 100px;
    border-top: 1px solid white;
  }

  #collection-navigation:after {
    content: "";
    color: white;
    position: absolute;
    bottom: 0;
    width: 100px;
    border-top: 1px solid white;
  }
</style>


{% schema %}
{
  "name": {
    "en": "Collection Page"
  },
  "class": "collection-section",
  "settings": [
        {
          "type": "header",
          "content": {
          "en": "Layout"
          }
       },
       {
        "type": "select",
        "id": "image_position",
        "label": {
          "en": "Image position"
        },
        "default": "left",
        "options": [
          {
            "label": {
              "en": "Left"
            },
            "value": "left"
          },
          {
            "label": {
              "en": "Right"
            },
            "value": "right"
          }
        ]
      },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "en": "Content alignment"
          },
          "default": "center",
          "options":[
            {
              "label": {
                "en": "Left"
              },
              "value": "left"
            },
            {
              "label": {
                "en": "Center"
              },
              "value": "center"
            },
            {
              "label": {
                "en": "Right"
              },
              "value": "right"
            }
          ]
        },
        {
          "type":      "range",
          "id":        "line_num",
          "min":       1,
          "max":        20,
          "step":       1,
          "label":     "Show # of Line Text for Description",
          "default":   6
        }
  ]
}
{% endschema %}