<div class="row no-gutters bg-gray5">
  <div class="col col-12 col-md-6"><img class="img-fluid" src="https://picsum.photos/id/1060/1200/1028"></div>
  <div class="col col-12 col-md-6 align-self-center px-sm-10 px-md-20 px-lg-30 pl-xl-35 pr-xl-50 ml-auto">
      <div>
          <h4 class="text-white mb-lg-10">Featured Product Name</h4>
          <h5 class="mb-lg-10">
              <span class="text-red">$100.00&nbsp;</span>
              <i class="fas fa-arrow-left text-red px-5"></i>
              <span class="text-white">$120.00</span>
          </h5>
          <p class="text-white">
              <small>Small description Small description Small description Small description Small description Small description Small description&nbsp;</small>
          </p>
          <form>
              <select class="form-control mb-5 py-4 pl-4 bg-gray2 border-0">
                  <optgroup label="This is a group">
                      <option selected="" value="12">Selection 1</option>
                      <option value="13">This is item 2</option>
                      <option value="14">This is item 3</option>
                  </optgroup>
              </select>
              <select class="form-control mb-5 py-4 pl-4 bg-gray2 border-0">
                  <optgroup label="This is a group">
                      <option selected="" value="12">Selection 2</option>
                      <option value="13">This is item 2</option>
                      <option value="14">This is item 3</option>
                  </optgroup>
              </select><input class="form-control mb-5 py-4 pl-4 bg-gray2 border-0" type="number">
              <div class="form-row justify-content-between">
                  <div class="col">
                      <button class="btn btn-white" type="button">LEARN MORE</button>
                  </div>
                  <div class="col col-auto">
                      <div class="btn-group align-self-center h-100" role="group">
                          <button class="btn btn-primary p-0 pr-3" style="background: none;color: gray;font-size: 0.6rem;border: none;" type="button">
                              <i class="fa fa-list pr-2"></i>Detail</button>
                          <button class="btn btn-primary p-0" style="background: none;color: gray;font-size: 0.6rem;border: none;" type="button">
                              <i class="fa fa-share-alt pr-2"></i>Share</button>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Counter"
  },
  "class": "index-section index-section--counter my-sm-30",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": {
        "en": "Product"
      }
    },
    {
      "type":"select",
      "id":"style",
      "label":{
        "en":"Choose a style for desktop"
      },
      "default":"styleA",
      "options":[
        {
          "label":{
            "en":"Style A"
          },
          "value":"styleA"
        },
        {
          "label":{
            "en":"Style B"
          },
          "value":"styleB"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_position",
      "label": {
        "en": "Image position"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content alignment"
      },
      "default": "center",
      "options":[
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "text",
      "id": "discount_deadline",
      "label": {
        "en": "Discount deadline"
      },
      "placeholder": {
        "en": "2020-09-11/19:03"
      }
    },
    {
      "type": "text",
      "id": "add_to_cart_button_text",
      "label": {
        "en": "Text of add-to-cart button"
      },
      "default": {
        "en": "ADD TO CART"
      }
    },
    {
      "type": "text",
      "id": "learn_more_button_text",
      "label": {
        "en": "Text of learn-more button"
      },
      "default": {
        "en": "LEARN MORE"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Counter"
      },
      "category": {
        "en": "Product"
      }
    }
  ]
}
{% endschema %}