{% schema %}
{
  "name": {
    "en": "Custom HTML"
  },
  "class": "index-section index-section--custom-html",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg-img",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "html",
      "id": "custom-html",
      "label": {
        "en": "Custom HTML"
      },
      "default": {
        "en": "<p>new products and sales.</p>"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Custom HTML"
      },
      "category": {
        "en": "text"
      }
    }
  ]
}
{% endschema %}