<div class="container">
    <div class="row mb-sm-20">
        <div class="col-sm-12 my-auto text-center">
            <h4 class="mb-lg-10">Featured Collections</h4>
        </div>
    </div>
    <div class="row">
        <div class="col p-0 m-0">
            <a href="/collections/all"><img class="card-img-top w-100 d-block" src="https://picsum.photos/id/555/660/480"></a>
            <div class="collection-title text-white">Name of Collection</div>
        </div>
        <div class="col p-0 m-0">
            <a href="/collections/all"><img class="card-img-top w-100 d-block" src="https://picsum.photos/id/555/660/480"></a>
            <div class="collection-title text-white">Name of Collection</div>
        </div>
        <div class="col p-0 m-0">
            <a href="/collections/all"><img class="card-img-top w-100 d-block" src="https://picsum.photos/id/555/660/480"></a>
            <div class="collection-title text-white">Name of Collection</div>
        </div>
    </div>
    <div class="row mt-sm-30">
        <div class="col-sm-12 my-auto text-center">
            <a class="text-gray4" href="/collections/all">See All Collections</a>
        </div>
    </div>
</div>


{% schema %}
{
  "name": {
    "en": "Featured collections"
  },
  "class": "index-section index-section--featured-collections py-sm-30",
  "tag": "section",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": {
        "en": "Collection"
      },
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": {
            "en": "Collection"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured collections"
      },
      "category": {
        "en": "Collection"
      }
    }
  ]
}
{% endschema %}