<div class="
                                          section-inner-wrapper
                                          {% if section.settings.section_width == 'container' %}container{% endif %}
                                          {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
                                          {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
                                          {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
                                          py-sm-20
                                          {{ section.settings.custom_classes }}">
    <div class="row no-gutters bg-gray5">
        <div class="col col-12 col-md-6">
            <iframe frameborder="0" height="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?width=100%25&amp;height=100%25&amp;hl=en&amp;q=321%20McDermot%20Ave,%20Winnipeg,%20MB+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%"></iframe>
        </div>
        <div class="col col-12 col-md-6 align-self-center px-sm-10 px-md-20 px-lg-30 pl-xl-35 pr-xl-50 py-50">
            <div>
                <h4 class="text-white mb-lg-10">Restaurant Info</h4>
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <thead class="border-0">
                            <tr>
                                <th class="text-gray1 text-weight-lighter">Email:</th>
                                <th class="text-gray1 text-weight-lighter">info@therestaurant.com</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-gray1 text-weight-lighter">Phone:</td>
                                <td class="text-gray1 text-weight-lighter">204-555-5555</td>
                            </tr>
                            <tr>
                                <td class="text-gray1 text-weight-lighter">Location:</td>
                                <td class="text-gray1 text-weight-lighter">1234 Main St.&nbsp;&nbsp;<a class="text-gray1 text-weight-lighter" href="#"><br>(Check direction)<br><br></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-gray1 text-weight-lighter">Mon-Fri:</td>
                                <td class="text-gray1 text-weight-lighter">12pm - 11pm</td>
                            </tr>
                            <tr>
                                <td class="text-gray1 text-weight-lighter">Sat:</td>
                                <td class="text-gray1 text-weight-lighter">12pm - 12pm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-gray1 mb-20">
                    <small class="pl-6">*Close on Sun &amp; Holidays</small>
                </div>
                <button class="btn btn-white ml-6">LEARN MORE</button>
            </div>
        </div>
    </div>
</div>
<style>
  .index-section--store-hours{
    background-color: {{ section.settings.color_bg }};
    {% if section.settings.img_bg != blank %}
    background-image: url("{{ section.settings.img_bg | img_url }}");
    {% endif %}
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

{% schema %}
{
  "name": {
    "en": "Store hours"
  },
  "class": "index-section index-section--store-hours",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type":"select",
      "id":"style",
      "label":{
        "en":"Choose a style for desktop"
      },
      "default":"styleA",
      "options":[
        {
          "label":{
            "en":"Style A"
          },
          "value":"styleA"
        },
        {
          "label":{
            "en":"Style B"
          },
          "value":"styleB"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Title"
      }
    },
    {
      "type": "checkbox",
      "id": "email_enabled",
      "label": {
        "en": "Display email"
      }
    },
    {
      "type": "checkbox",
      "id": "phone_enabled",
      "label": {
        "en": "Display phone number"
      }
    },
    {
      "type": "checkbox",
      "id": "location_enabled",
      "label": {
        "en": "Display location"
      }
    },
    {
      "type": "select",
      "id": "map_position",
      "label": {
        "en": "Map position"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content alignment"
      },
      "default": "center",
      "options":[
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Store hours"
      },
      "category": {
        "en": "text"
      }
    }
  ]
}
{% endschema %}