<div class="
  section-inner-wrapper
  {% if section.settings.section_width == 'container' %}container{%else %}container-fluid{% endif %}
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  py-sm-30
  {{ section.settings.custom_classes }}">
    <div class="row">
        <div class="col col-12 col-sm-4">
            <div class="card" style="border: none;"><img class="card-img-top w-100 d-block" src="https://picsum.photos/id/555/660/480">
                <div class="card-body">
                    <h6 class="card-title my-10">H3 Header Needs To Go Here</h6>
                    <p class="card-text mb-20">
                        <small>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.Text<br></small>
                    </p>
                    <button class="btn btn-black" type="button">LEARN MORE</button>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-4">
            <div class="card" style="border: none;"><img class="card-img-top w-100 d-block" src="https://picsum.photos/id/555/660/480">
                <div class="card-body">
                    <h6 class="card-title my-10">H3 Header Needs To Go Here</h6>
                    <p class="card-text mb-20">
                        <small>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.Text<br></small>
                    </p>
                    <button class="btn btn-black" type="button">LEARN MORE</button>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-4">
            <div class="card" style="border: none;"><img class="card-img-top w-100 d-block" src="https://picsum.photos/id/555/660/480">
                <div class="card-body">
                    <h6 class="card-title my-10">H3 Header Needs To Go Here</h6>
                    <p class="card-text mb-20">
                        <small>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.Text<br></small>
                    </p>
                    <button class="btn btn-black" type="button">LEARN MORE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
  .index-section--three-columns .section-inner-wrapper{
    background-color: {{ section.settings.color_bg }};
    {% if section.settings.img_bg != blank %}
    background-image: url("{{ section.settings.img_bg | img_url }}");
    {% endif %}
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

{% schema %}
{
  "name": {
    "en": "Three columns"
  },
  "class": "index-section index-section--three-columns",
  "tag": "section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": {
        "en": "Column"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "richtext",
          "id": "description",
          "label": {
            "en": "Description"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "en": "Button link"
          }
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "en": "Content alignment"
          },
          "default": "center",
          "options":[
            {
              "label": {
                "en": "Left"
              },
              "value": "left"
            },
            {
              "label": {
                "en": "Center"
              },
              "value": "center"
            },
            {
              "label": {
                "en": "Right"
              },
              "value": "right"
            }
          ]
        }
      ]
    }
  ], 
  "presets": [
    {
      "name": {
        "en": "Three columns"
      },
      "category": {
        "en": "image"
      }
    }
  ]
}
{% endschema %}