<div class="
          section-inner-wrapper
          {% if section.settings.section_width == 'container' %}container{% endif %}
          {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
          {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
          {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
          py-sm-30
          {{ section.settings.custom_classes }}">
    <div class="row no-gutters bg-gray5">
        <div class="col col-12 col-md-6 align-self-center">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9xwazD5SyVg"></iframe>
            </div>
        </div>
        <div class="col col-12 col-md-6 align-self-center px-sm-10 px-md-20 px-lg-30 pl-xl-35 pr-xl-50 ml-auto">
            <h3 class="text-white mb-lg-20">H3 header goes here</h3>
            <p class="content text-white mb-lg-20">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>

            <button class="btn btn-black mr-sm-10" type="button">LEARN MORE</button>
            <button class="btn btn-white border-black" type="button">LEARN MORE</button>
        </div>
    </div>
</div>

{% schema %}
{
  "name": {
    "en": "Video with text"
  },
  "class": "index-section index-section--video-with-text",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "video_url",
      "id": "video_link",
      "label": {
        "en": "Video link"
      },
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "select",
      "id": "video_position",
      "label": {
        "en": "Video position"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "text",
      "id": "first_button_label",
      "label": {
        "en": "First Button label"
      }
    },
    {
      "type": "url",
      "id": "first_button_link",
      "label": {
        "en": "First button link"
      }
    },
    {
      "type": "text",
      "id": "second_button_label",
      "label": {
        "en": "Second button label"
      }
    },
    {
      "type": "url",
      "id": "second_button_link",
      "label": {
        "en": "Second button link"
      }
    },
    {
      "type": "text",
      "id": "header",
      "label": {
        "en": "Header"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      }
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content alignment"
      },
      "default": "center",
      "options":[
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Video with text"
      },
      "category": {
        "en": "Video"
      }
    }
  ]
}
{% endschema %}