<div class="collection-products-wrapper row">
  {% for product in collection.products %}
  {% render 'collection-product-item', product: product, image_position: section.settings.image_position %}
  {% endfor %}
</div>
<script>
  window.addEventListener("load", function(event){
    const tagImages = document.querySelectorAll('[data-tag][data-style].tag-image');
    if(window.datomar && datomar.tagimages){
      Object.keys(tagImages).forEach(key => {
        const tagImage = tagImages[key];
        const src = datomar.tagimages[`${tagImage.dataset.tag}_${tagImage.dataset.style}`];
        if(src) {
          tagImage.src = src;
        } else {
          tagImage.remove();
        }
      });
    }
  });
  document.addEventListener("click", function(event){
    const target = event.target;
    if(target.closest('.collection-products-wrapper .product-grid')){
      const productGrid = target.closest('.collection-products-wrapper .product-grid');
      const modalElement = document.getElementById('atcFormModal');
      const modal = new datomar.BSN.Modal(modalElement, {backdrop: true, keyboard: false});
      const product = JSON.parse(productGrid.dataset.product);
      const optionsWithValues = JSON.parse(productGrid.dataset.optionsWithValues);
      const escape = datomar.helper.escape;
      const unescape = datomar.helper.unescape;
      modalElement.addEventListener('show.bs.modal', function(e){
          e.target.innerHTML = `
          <product-modal
              data-product="${escape(JSON.stringify(product))}"
              data-selected-or-first-available-variant="${product.variants[0].id}"
              data-options-with-values="${escape(JSON.stringify(optionsWithValues))}"
              data-extra-price="0"
              data-style={{ settings.default_style_mode }}
            ></product-modal>`;
          modalElement.addEventListener('hidden.bs.modal', function(e){
              e.target.innerHTML = '';
          })
          modalElement.addEventListener('modaladdtocartfinished', function(e){
            modal.hide();
          })
      })
      modal.show();
    }
  }, true);
</script>